# Global excludes
.idea
.vscode
.git
*.log

# Excludes from the `server` folder
server/config/local.json
server/node_modules
server/package-lock.json

# Excludes from server .env file
server/.env

# Excludes from public directory
public

# Excludes from root directory
node_modules
package-lock.json