@font-face {
  font-family: 'royal_chickenitalic';
  src: url('../assets/fonts/royal_chicken-webfont.eot');
  src: url('../assets/fonts/royal_chicken-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/royal_chicken-webfont.woff2') format('woff2'),
       url('../assets/fonts/royal_chicken-webfont.woff') format('woff'),
       url('../assets/fonts/royal_chicken-webfont.svg#royal_chickenitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg_broken_vessels_sketchRg';
  src: url('../assets/fonts/kgbrokenvesselssketch-webfont.eot');
  src: url('../assets/fonts/kgbrokenvesselssketch-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/kgbrokenvesselssketch-webfont.woff2') format('woff2'),
       url('../assets/fonts/kgbrokenvesselssketch-webfont.woff') format('woff'),
       url('../assets/fonts/kgbrokenvesselssketch-webfont.svg#kg_broken_vessels_sketchRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PragmaticaLightCTT';
  src: url('../assets/fonts/PragmaticaLightC-Bold.eot');
  src: url('../assets/fonts/PragmaticaLightC-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/PragmaticaLightC-Bold.woff2') format('woff2'),
      url('../assets/fonts/PragmaticaLightC-Bold.woff') format('woff'),
      url('../assets/fonts/PragmaticaLightC-Bold.svg#PragmaticaLightC-Bold') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Westbrook Deco';
  src: url('../assets/fonts/WestbrookDeco.eot');
  src: url('../assets/fonts/WestbrookDeco.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/WestbrookDeco.woff2') format('woff2'),
      url('../assets/fonts/WestbrookDeco.woff') format('woff'),
      url('../assets/fonts/WestbrookDeco.svg#WestbrookDeco') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'el_messiribold';
  src: url('../assets/fonts/elmessiri-bold-webfont.eot');
  src: url('../assets/fonts/elmessiri-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/elmessiri-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/elmessiri-bold-webfont.woff') format('woff'),
       url('../assets/fonts/elmessiri-bold-webfont.svg#el_messiribold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'el_messiriregular';
  src: url('../assets/fonts/elmessiri-regular-webfont.eot');
  src: url('../assets/fonts/elmessiri-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/elmessiri-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/elmessiri-regular-webfont.woff') format('woff'),
       url('../assets/fonts/elmessiri-regular-webfont.svg#el_messiriregular') format('svg');
  font-weight: normal;
  font-style: normal;
}