@import "reset";
@import "fonts";
@import "variables";
@import "mixins";

// :global {
// 	@import '~react-toastify/scss/main.scss';
// }
:global {
  body, html {
    background-image: url('../images/blackboard-pattern.jpg');
    background-repeat: repeat;
    background-size: auto auto;
    height: 100%;
    background-color: black;
  }

  .banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% $header-h;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
    height: 390px;

    @include screen('mobile') {
      background-position: 50% $header-h-mob;
      height: 220px;
    }
  }

  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }
  
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .zoomOut {
    animation-name: zoomOut;
  }
  
  .Toastify__toast-container {
    &.cart-toast-container {
      margin-top: 100px;
    }
  }
  
  .Toastify {
    &__toast {
      &--info {
        &.cart-toast {
          background-color: rgba(0, 0, 0, 0.8);
          .Toastify__toast-body {
            font-family: $el-mis-reg;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
  
      &--error {
        &.cart-toast {
          background-color: rgba(255, 0, 0, 0.8);
          .Toastify__toast-body {
            font-family: $el-mis-reg;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}