@import "reset";
@import "fonts";
@import "variables";

:global {
  body, html {
    background-image: url('../images/blackboard-pattern.jpg');
    background-repeat: repeat;
    background-size: auto auto;
  }
  
  .textInput {
    height: 44px;
  
    input {
      width: 100%;
      height: 100%;
      border: 1px solid $white;
      background-color: transparent;
      outline: none;
      color: $white;
      padding: 0 18px;
      font-family: $el-mis-reg;
      font-size: 14px;
      line-height: 14px;
  
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
        opacity: 0.5;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $white;
        opacity: 0.5;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $white;
        opacity: 0.5;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $white;
        opacity: 0.5;
      }
    }
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }
  
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .zoomOut {
    animation-name: zoomOut;
  }
  
  .Toastify__toast-container {
    &.cart-toast-container {
      margin-top: 100px;
    }
  }
  
  .Toastify {
    &__toast {
      &--info {
        &.cart-toast {
          background-color: rgba(0, 0, 0, 0.8);
          .Toastify__toast-body {
            font-family: $el-mis-reg;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
  
      &--error {
        &.cart-toast {
          background-color: rgba(255, 0, 0, 0.8);
          .Toastify__toast-body {
            font-family: $el-mis-reg;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}