@import "admin/styles/variables";

.title {
  padding: 0 0 15px 0;

  h1 {
    font-size: 24px;
    line-height: 28px;
    color: black;
    letter-spacing: 0.5px;
  }
}

.content {
  padding: 20px !important;
  margin: 64px 0 0 250px !important;
  transition: margin 0.2s ease-in-out;

  &.siderCollapse {
    margin: 64px 0 0 80px !important;
  }
}