
@import "client/styles/variables";
@import "client/styles/mixins";

.productsList {
  padding: 45px 0 160px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include screen('(max-width: 1170px)') {
    justify-content: center;
  }

  @include screen('mobile') {
    padding: 0 0 60px 0;
  }
}