@import "client/styles/variables";
@import "client/styles/mixins";

.top {
  height: 250px;
  position: relative;
  background-image: url('../../images/footer_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include screen('mobile') {
    height: 100px;
  }
}

.bottom {
  height: $header-h;
  background-color: $black;
  text-align: center;

  @include screen('mobile') {
    height: 40px;
  }

  p {
    font-family: $el-mis-reg;
    font-size: 14px;
    line-height: $header-h;
    color: $lightGray;

    @include screen('mobile') {
      font-size: 12px;
      line-height: 40px;
    }
  }
}

.contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    font-family: $el-mis-reg;
    font-size: 72px;
    line-height: 72px;
    color: $black;
    white-space: nowrap;

    @include screen('mobile') {
      font-size: 35px;
      line-height: 35px;
    }
  }

  .insta {
    font-family: $el-mis-reg;
    color: $black;
    white-space: nowrap;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
    transition: color 0.25s ease-in-out;

    span {
      padding: 0 0 0 10px;
      @include screen('mobile') {
        padding: 0 0 0 5px;
      }
    }
    
    @include screen('desktop') {
      &:hover {
        color: $punch;
      }
    }

    @include screen('mobile') {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
