@import "client/styles/variables";
@import "client/styles/mixins";

.orderCart {
  position: absolute;
  top: 0;
  right: 0;
  width: $menu-width;
  transform: translate3d($menu-width, 0, 0);
  height: 100vh;
  background-color: $codGray;
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 3;

  @include screen('mobile') {
    transform: translate3d(100%, 0, 0);
    width: calc(100% - #{$header-h-mob});
    box-shadow: inset 13px 5px 11px -8px rgba(0,0,0,0.53);
  }

  &.opened {
    transform: translate3d(0, 0, 0);
    z-index: 400;
  }
}

.itemsList {
  height: 100%;
}

.buttonItem {
  padding: 0 0 12px 0;
}

.total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 25px 0;

  p {
    font-family: $west;
    font-size: 24px;
    line-height: 24px;
    color: $punch;
  }
}

.cartItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $gray;
    box-shadow: 1px 2px 0px 0px rgba(0,0,0,1);
  }
}

.params {
  padding: 5px 0;
   
  li {
    font-family: $el-mis-reg;
    font-size: 14px;
    line-height: 14px;
    color: $white;
    padding: 5px 0;
  }
}

.cartItemImg {
  width: 80px;
  img {
    width: 100%;
    display: block;
  }
}

.cartItemDelBtn {
  display: block;
  color: $white;
  transition: 0.15s color ease-in-out;

  &:hover {
    color: $punch;
  }
}

.cartItemInfo {
  width: 160px;
  
  p {
    display: block;
  }
}

.cartItemInfoName {
  font-family: $west;
  font-size: 24px;
  line-height: 24px;
  color: $orange;
  padding: 0 0 12px 0;
}

.countPrice {
  font-family: $el-mis-reg;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  
  span {
    color: $punch;
  }
}

.emptyCart {
  padding: 25px 0;
  text-align: center;

  p {
    font-family: $el-mis-reg;
    font-size: 14px;
    line-height: 14px;
    color: $white;
    opacity: 0.2;
  }
}

.toggleBtn {
  position: absolute;
  top: 0;
  left: -$header-h;
  width: $header-h;
  height: $header-h;
  background-color: $orange;
  cursor: pointer;
  overflow: hidden;

  @include screen('mobile') {
    width: $header-h-mob;
    height: $header-h-mob;
    left: -$header-h-mob;
  }
}

.cartIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.count {
  position: absolute;
  top: -45px;
  right: -45px;
  display: block;
  border-radius: 50%;
  background-color: $white;
  width: 80px;
  height: 80px;

  @include screen('mobile') {
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
  }
}

.countText {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  span {
    font-family: $el-mis-reg;
    font-size: 12px;
    line-height: 12px;
    color: $black;
  }

  @include screen('mobile') {
    width: 20px;
    height: 20px;
    bottom: 3px;
    left: 5px;
  }
}

.orderCartContent {
  padding: 27px 35px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.line {
  height: 1px;
  background-color: $gray;
  box-shadow: 1px 2px 0px 0px rgba(0,0,0,1);
}

.title {
  padding: 0 0 26px 0;
  h3 {
    font-family: $west;
    font-size: 36px;
    line-height: 36px;
    color: $orange;
  }
}