@import "admin/styles/variables";

.table {
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.inputField {
  padding: 0 0 10px 0;

  p {
    padding: 0 0 5px 0;
  }

  &:last-child {
    padding: 0;
  }
}