@import "admin/styles/variables";

.user {
  display: flex;
  align-items: center;

  p {
    font-family: $roboto;
    font-size: 14px;
    line-height: 14px;
    color: white;
    letter-spacing: 0.5px;
  }
}

.logout {
  cursor: pointer;
}