
// Side menu

$menu-width: 370px;
$header-h: 90px;
$intro-section-h: calc(100vh - 90px);

// Colors
$punch: #d94f2b;
$white: #FFF;
$black: #000;
$codGray: #151515;
$lightGray: #636b6f;
$mineShaft: #313131;
$orange: #fdbc2c;
$gray: #383838;
