
// Side menu

$menu-width: 370px;
$header-h: 64px;
$intro-section-h: calc(100vh - 90px);

// Colors
$red: #E10050;
$lightGray: #e8eaea;
$softGray: #f0f0f0;

// Fonts

$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
