@import "reset";
@import "fonts";
@import "variables";

:global {
  html, body {
    background-color: $softGray;
    line-height: 1;
  }

  #root {
    height: 100%;
  }

  .content {
    display: flex;
    margin-top: $header-h;
  }

  .ant-btn {
    line-height: 1;
  }

  .ant-layout {
    background-color: $softGray;
  }

  .routeContent {
    flex: 1;
    height: calc(100vh - #{$header-h});
    overflow: scroll;
    padding: 15px;
  }
}