@import "client/styles/variables";
@import "client/styles/mixins";

.product {
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 30px 0 90px 0;
  margin: 0 13px;
  position: relative;
  border: 4px solid transparent;
  transition: 0.15s border ease-in-out;

  @include screen('desktop') {
    &:hover {
      border: 4px solid $orange;

    .addToCart {
    	opacity: 1;
      }
    }
  }

  @include screen('mobile') {
    width: 270px;
    padding: 30px 0 120px 0;

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $orange;
      box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.6);
    }
  }
}

.propsSet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 10px 0;
  align-items: center;
  justify-content: center;

  >p {
    font-family: $el-mis-reg;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    padding: 0 10px 0 0;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.propItem {
  padding: 0 5px;
  background-color: transparent;
  margin: 0 10px 0 0;
  color: $orange;
  border-radius: 10px;
  border: 2px solid $orange;
  cursor: pointer;
  font-family: $el-mis-reg;
  font-size: 14px;
  line-height: 20px;

  &.active {
    color: $black;
    background-color: $orange;
    border: 2px solid $white;
  }
}

.bottom {
  margin-top: auto;
}

.description {
  padding: 0 20px 25px 20px;

  @include screen('mobile') {
    padding: 0 0 25px 0;
  }

  p {
    font-family: $el-mis-reg;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    text-align: center;
  }
}

.price {
  text-align: center;

  p {
    font-family: $west;
    font-size: 24px;
    line-height: 24px;
    color: $punch;
  }
}

.title {
  margin: 0 0 20px 0;

  h3 {
    font-family: $west;
    font-size: 24px;
    line-height: 24px;
    color: $orange;
    text-align: center;
  }
}

.addToCart {
  position: absolute;
  bottom: 25px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.15s opacity ease-in-out;

  @include screen('mobile') {
    opacity: 1;
    bottom: 45px;
  }
}

.productImg {
  width: 220px;
  margin: 0 0 35px 0;

  @include screen('mobile') {
    width: 160px;
  }

  img {
    width: 100%;
    display: block;
  }
}
