@import "admin/styles/variables";

.layout {
  width: auto;
  display: block;
  margin: 0 auto;
  width: 400px;
}

.submit {
  margin: 20px 0 0 0;
}

.avatar {
  margin: 8px; 
  background-color: $red !important;
}

.paper {
  margin: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form {
  width: 100%;
  margin: 8px 0 0 0;
}