@import "client/styles/variables";
@import "client/styles/mixins";

.sideMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: $menu-width;
  transform: translate3d(-$menu-width, 0, 0);
  height: 100vh;
  background-color: $codGray;
  background-image: url('../../images/pattern_bg.jpg');
  background-repeat: repeat;
  background-size: 400px;
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 3;

  @include screen('mobile') {
    transform: translate3d(-100%, 0, 0);
    width: calc(100% - #{$header-h-mob});
    box-shadow: inset -13px 5px 11px -8px rgba(0,0,0,0.53);
  }

  &.opened {
    transform: translate3d(0, 0, 0);
    z-index: 400;
  }
}

.sideMenuContent {
  padding: 36px;
}

.toggleBtn {
  position: absolute;
  top: 0;
  right: -$header-h;
  width: $header-h;
  height: $header-h;
  background-color: $black;
  cursor: pointer;

  @include screen('mobile') {
    right: -$header-h-mob;
    width: $header-h-mob;
    height: $header-h-mob;
  }
}

.toggleBtnIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuItem {
  padding: 0 0 38px 0;
}

.menuItemLink {
  font-family: $el-mis-reg;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    color: $punch;
    text-decoration: none;
  }
}

.menuItemLinkActive {
  color: $punch
}