@import "client/styles/variables";
@import "client/styles/mixins";

.header {
	text-align: center;
	padding: 0 0 20px 0;
}

.headerTitle {
  font-family: $west;
  font-size: 24px;
  line-height: 28px;
  color: $orange;

  @include screen('mobile') {
    font-size: 20px;
    line-height: 23px;
  }
}
